spring:
  application:
    name: portfolio-service
  r2dbc:
    url: r2dbc:mysql://localhost:3306/portfolio
    username: root
    password:
  sql:
    init:
      mode: always
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      username: xxx
      password: xxx
  mail:
    host: smtp.gmail.com
    port: 587
    username: xxx
    password: xxx
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

logging:
  level:
    root: INFO
    com.alvayonara.portfolioservice: DEBUG

jwt:
  keyId: temp-portfolio-key
  secret: temp-secret-asdasd-asdasd-asdasd

aws:
  region: ap-southeast-1
  s3:
    bucket: portfolio
    access-key: xxx
    secret-key: xxx
    resume-prefix: resumes/