spring:
  application:
    name: portfolio-service
  r2dbc:
    url: r2dbc:mysql://localhost:3306/portfolio
    username: root
    password:
  sql:
    init:
      mode: always

server:
  port: 8080

logging:
  level:
    root: INFO
    com.alvayonara.portfolioservice: DEBUG

jwt:
  keyId: temp-portfolio-key
  secret: temp-secret-asdasd-asdasd-asdasd